/* Font import */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* CSS resets */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}

.clr {
  clear: both;
}
/* Common elements (header, navbar, footer) */

header {
  width: 100%;
  background: #333;
  overflow:hidden;
}
header a:visited, header a:link{
  color: #fff;
}

.logo {
 float: left;
 width: 40%;
 font-weight: bold;
 font-size: 1.5em;
 padding: 9px 0;
}

nav {
  float: right;
  width: 60%;
  list-style: none;
  text-align: right;
}
nav li {
  display: inline-block;
  padding: 15px;
}

nav.navbar li:hover, nav.navbar li:hover a {
  background: #444;
  color: #efc292;
}

#active-page {
  color: #efc292;
  background: #444;
}
#active-page a {
  color: #efc292;
}
#active-page:visited, #active-page:link{
  color: #efc292;
}
#active-page:hover {
  background: url("https://i.pinimg.com/originals/00/2a/12/002a12ffdc86fc5f0c7c68cd420c1c6d.gif") no-repeat center center;
  background-size: cover;
}

#active-page:hover > a {
  color: transparent;
  background: transparent;
}

footer {
  width: 100%;
  text-align: center;
  color: #fff;
  padding: 20px 0;
  background: #444;
}
footer:hover {
  background: url("https://lh3.googleusercontent.com/proxy/vZGyF0lJx6Pc8EGJ5gwtK9sWNQoFB8gY09pG8SXli9g9klyxSOQQj05WssA-j6qtDpWJ6xc6nQSxOXEqnBaJlwnsihsYZJHTrkJJbi1oBT1jDY1dHJzCRjEWLFIiDClusnVl1HOad8ZaV6l0XdiZLvZLaqWOU1Hnw-8") round center center;
  background-size: contain;
  color: transparent;
}

div.max-width {
  max-width: 1000px;
  margin: auto;
}

.orangify {
  color: #efc292
}

/* Button element - shared on Index and Contact */
.btn {
  display: inline-block;
  padding: 10px 15px;
  background: #444;
  list-style: none;
}

.btn:hover {
  color: #efc292;
  background: #333;
}

/* Index Page CSS */
*.index {
  color: #fff;
}
*.index a:visited, *.index a:link {
  color: #fff;
}

.index main {
  text-align: center;
}

section.about-hotel {
  background: linear-gradient(#00000010,#00000010), url("/07-lesson-assignment/resources-assignment-1/img/showcase.jpg") no-repeat center center;
  background-size: cover;
  width: 100%;
  overflow: hidden;
}
.about-hotel > div{
  margin: 150px auto;
}
.about-hotel div *{
  margin: 15px 0;
}
.about-hotel h1 {
  font-size: 4em;
}

#about-hotel-button:hover a {
  color: #efc292;
}

section.history-section {
  overflow: hidden;
  background: #333;
}
figure {
  float: left;
  width: 50%;
}
figure img {
  width: 100%;
  display: block;
}
article.history {
  float: right;
  width: 50%;
}
article.history > *{
   margin: 25px;
}
article.history h1 {
  margin-top: 40px;
}
#read-more, #read-more a {
  color: #333;
  background: #f4f4f4;
}
#read-more:hover, #read-more:hover a{
  color: #efc292;
  background: #444;
}

.bottom {
  color: #333;
  background: #f4f4f4;
}
.bottom-article{
  float: left;
  width: 33.33333333333333333%;
}
.bottom-article > * {
   margin: 10px;
}
.bottom-article i {
  margin-top: 40px;
}
.bottom-article p {
  margin: 30px 30px 50px;
}
#bottom2 {
  background: #efc292;
}

/* Contact Page CSS */
.form {
  overflow:hidden;
}
form *{
  display: block;
}
.information {
  padding: 0 10%;
  overflow: hidden;
  background: #333;
  text-align: center;
  color: #fff;
}
.info {
  float: left;
  width: 33.33333333333333333333%;
}


/* About Page CSS */

.main-about {
  background: #f4f4f4;
} 

.about-hobbit-hole article {
  float: left;
  width: 60%;
}

.about-hobbit-hole h1 {
  font-size: 2em;
  padding: 20px 0;
}
.about-hobbit-hole figure {
  float: right;
  width: 40%;
  padding: 40px;
}
.about-hobbit-hole img {
  border: solid 5px #dedede;
  border-radius: 2px;
}

.testimonials {
  background: url("/07-lesson-assignment/resources-assignment-1/img/testimonials-bg.jpg") no-repeat center center;
  background-size: cover;
  color: #fff;
  overflow: auto;
}
.testimonials div.max-width{
  margin: 100px auto;
}
.testimonials div.max-width > *{
  margin: 40px auto;
}
.testimonials h1 {
  text-align: center;
  font-size: 2em;
}

.testimonial {
  background: #000000aa;
  overflow: auto;
}
.testimonial img{
  border-radius: 50%;
  float: left;
  width: 10%;
  padding: 5px;
  margin: 10px 0 0 0;
}
.testimonial p {
  float: right;
  width: 90%;
  padding: 25px 10px;
}