/* Font import */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* CSS resets */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}

.clr {
  clear: both;
}
/* Common elements (header, navbar, footer) */

header {
  width: 100%;
  background: #333;
  overflow:hidden;
}
header a:visited, header a:link{
  color: #fff;
}

.logo {
 float: left;
 width: 40%;
 font-weight: bold;
 font-size: 1.5em;
 padding: 9px 0;
}

nav {
  float: right;
  width: 60%;
  list-style: none;
  text-align: right;
}
nav li {
  display: inline-block;
  padding: 15px;
}

nav a:hover{
  filter: invert(0.5);
}
#active-page {
  color: #efc292;
  background: #444;
}
#active-page a {
  color: #efc292;
}
#active-page:visited, #active-page:link{
  color: #efc292;
  background: #444;
}

footer {
  width: 100%;
  text-align: center;
  color: #fff;
  padding: 15px 0;
  background: #444;
}

div.max-width {
  max-width: 900px;
  margin: auto;
}
/* Button element - shared on Index and Contact */
.btn {
  display: inline-block;
  padding: 10px;
  background: #444;
  list-style: none;
}

/* Index Page CSS */
*.index {
  color: #fff;
}
*.index a:visited, *.index a:link {
  color: #fff;
}

.index main {
  text-align: center;
}

section.about-hotel {
  background: url("/07-lesson-assignment/resources-assignment-1/img/showcase.jpg") no-repeat center center;
  background-size: cover;
  width: 100%;
}

.orangify {
  color: #efc292
}
section.history {
  overflow: hidden;
  background: #333;
}
figure {
  float: left;
  width: 50%;
}
figure img {
  width: 100%;
  display: block;
}
article.history {
  float: right;
  width: 50%;
}
#read-more {
  background: #f4f4f4;
  color: #333;
}
.bottom {
  color: #333;
}
.bottom-article{
  float: left;
  width: 33.33333333333333333%;
  background: #f4f4f4;
}

#bottom2 {
  background: #efc292;
}

/* Contact Page CSS */
.form {
  overflow:hidden;
}
form *{
  display: block;
}
.information {
  padding: 0 10%;
  overflow: hidden;
  background: #333;
  text-align: center;
  color: #fff;
}
.info {
  float: left;
  width: 33.33333333333333333333%;
}


/* About Page CSS */

.about-hobbit-hole article {
  float: left;
  width: 60%;
}

.about-hobbit-hole h1 {
  font-size: 2em;
  padding: 20px 0;
}

.about-hobbit-hole figure {
  float: right;
  width: 40%;
  padding: 40px;
}

.about-hobbit-hole img {
  border: solid 5px #dedede;
  border-radius: 2px;
}

.testimonials {
  background: url("/07-lesson-assignment/resources-assignment-1/img/testimonials-bg.jpg") no-repeat center center;
  background-size: cover;
  color: #fff;
  overflow: auto;
}
.testimonials h1 {
  text-align: center;
  margin: 70px auto 30px auto;
  font-size: 2em;
}
.testimonial {
  background: #000000aa;
  overflow: auto;
  margin: 10px 0;
}

.testimonial img{
  border-radius: 50%;
  float: left;
  width: 15%;
  padding: 5px;
}
.testimonial p {
  float: right;
  width: 85%;
  padding: 25px 10px;
}